In [2]:
!pip install pandas_datareader -q

WARNING: You are using pip version 21.1.2; however, version 22.3 is available.
You should consider upgrading via the 'c:\users\gabriel\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [5]:
### import das bibliotecas ###
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_datareader import data as web
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Setting the begining and ending
today = datetime.now()
year_ago = datetime(today.year-1, today.month, today.day)

In [7]:
#indice
df = web.DataReader(f'PETR4.SA', data_source='yahoo', start=f'01-01-2018', end='02-20-2021')
display(df)

                 High        Low       Open      Close       Volume  Adj Close
Date
2018-01-02  16.549999  16.190001  16.190001  16.549999   33461800.0   8.335219
2018-01-03  16.719999  16.370001  16.490000  16.700001   55940900.0   8.410766
2018-01-04  16.959999  16.620001  16.780001  16.730000   37064900.0   8.425876
2018-01-05  16.860001  16.570000  16.700001  16.830000   26958200.0   8.476238
2018-01-08  17.030001  16.709999  16.740000  17.030001   28400000.0   8.576966
...               ...        ...        ...        ...          ...        ...
2021-02-11  28.500000  27.870001  28.139999  28.080000   61158600.0  15.244299
2021-02-12  28.490000  27.610001  27.809999  28.440001   47801100.0  15.439738
2021-02-17  29.600000  28.129999  28.520000  29.590000   54973400.0  16.064058
2021-02-18  30.920000  29.040001  30.379999  29.270000  105539200.0  15.890334
2021-02-19  28.490000  27.170000  28.030001  27.330000  215834800.0  14.837133

[774 rows x 6 columns]